$_green = #008000;
$_brown = #a52a2a;

@import "nib";

@import "./general.styl";

@import "./sidebar.styl";

@import "./categories.styl";

@import "./stream.styl";

@import "./topic.styl";

@import "./comments.styl";

@import "./addTopic.styl";

@import "./authors.styl";

.h-tag-page
    .h-tag-header
        margin 0

    .h-tag-sorting
        margin 1em 0