/* Comments
----------- */

.post
    .credentials
        margin-bottom: 20px;

.credentials
    overflow: hidden;
    line-height: 1.3em;

    a
    span
        display: inline-block !important;
        vertical-align: middle;
        padding: 0 !important;

    .userpic
        width: 20px;
        display: block;
        float: left;
        margin-right: 2px;
        border-radius: 50%;

    .username
        margin: 0;

    .username
    .username a
        color: #777; padding: 0; display: inline;

    a.username:hover
        color: red;

    .date,
    .icon16
        margin: 0 3px;

.comments
    margin: 2em 0;

    h3
        margin: 0 0 20px;

    h4
        margin: 0 0 10px;

    .credentials
        .date
            margin: 0 5px; padding-top: 1px;

        .userpic
            margin-right: 5px;

            &.icon16
                min-width: 0; width: 16px; height: 16px; margin: 7px 4px 0;

    textarea
        height: 100px; min-height: 100px; width: 75%; margin-top: 0;

    ul
        padding: 0; margin: 0 0 20px 0; list-style: none; border: 0 !important;

        li
            padding: 0; margin: 0 0 20px 0; list-style: none; border: 0 !important;

            ul
                margin:20px 0 0 0;
                padding-left: 25px;

            span.hint a
                color: #aaa; text-decoration: underline;

            a.comment-delete
                margin: 0 0 0 5px; padding: 0; color: #d99; text-decoration: underline;

                &:hover
                    background: red; color: white;

            .comment-form
                padding: 10px 30px; margin-top: 0;

                textarea
                    min-height: 100px;

    .text
        margin: 5px 0 5px 28px;

    .actions
        margin: 0 0 5px 28px; font-size: 0.9em;

        a
            padding: 0 !important;

.comment
    &.in-reply-to
        background: #eee; margin: -8px -8px -13px; padding: 8px 35px 8px 8px; position: relative;

    &.new
        background: #ffc; margin: -8px -8px -13px; padding: 8px 35px 8px 8px;

ul.auth-type
    padding: 0 0 10px !important; list-style: none;

    li
        padding-right: 10px; display: inline-block; float: left\9; display: inline\9;

        a
            padding: 5px 6px;

            img
                margin-right: 5px; top: 4px; position: relative;

.comment-form
    padding: 0; margin-top: 30px;

    h4
        margin: 0 0 20px; font-weight: normal;

    .userpic
        width: 20px; height: 20px; float: left; margin-right: 5px; border-radius: 50%;

    ul.menu-h.auth-type
        padding-bottom: 20px;
        li a img
            float: left; margin-right: 3px; position: relative; top: 2px;

.comment-form-fields
    p
        margin: 0 0 10px;

        a
            display: inline !important;

    label
        width: 160px; display: block; clear: left; float: left; margin: 0 10px 0 0; color: #aaa; padding-top: 3px;

    input
        width: 20em;

    textarea
        margin 1em 0 0
        width 100%
        min-height: 100px;
        resize vertical
        box-sizing border-box

    .comment-submit
        padding:0 0 0 170px;