.p-photos-wrapper
    margin 1em 0 0

    .p-photo-list
        position relative

        .p-photo-item
            position relative

            .p-left-top-hook
                position absolute
                top 0
                left 0

            .p-right-top-hook
                position absolute
                top 0
                right 0

            .p-photo-link
                display block
                cursor pointer
                font-size 0
                line-height 0

                .p-photo-image
                    width 100% !important
                    height auto !important

        &.p-wide-list
            .p-photo-item
                margin 2em 0 0
                background #f8f8f8
                box-shadow 0 0 2px rgba(0,0,0,.2), 0 2px 2px rgba(0,0,0,.2)
                border-radius 2px
                overflow hidden

                &:first-child
                    margin-top 0

                .p-text-wrapper
                    padding 1em

                    .p-photo-name
                        color #444

                .p-photo-stack
                    position relative
                    height 0

                    .stack-nav
                        position absolute
                        right 0
                        bottom 0
                        width 100%
                        padding 8px
                        text-align right
                        box-sizing border-box
                        transition background 200ms linear
                        background rgba(255,255,255,.2)

                        &:hover
                            background rgba(255,255,255,.4)

                        a
                            display inline-block
                            vertical-align middle

        &.p-thumb-list
            .p-photo-item
                position relative
                display inline-block
                vertical-align top
                font-size 0
                line-height 0
                width 33.3%
                padding 0 4px 4px 0
                box-sizing border-box

                &.is-image-loading
                    display none

    .p-paging-wrapper
        margin 2em 0 0
        text-align center

        &.is-lazy-loading
            .p-paging-list
                display none

        .p-paging-list
            margin 0

            li
                display inline-block
                margin 0 0 0 .5em

                &:first-child
                    margin-left 0

                &.selected a
                a:hover
                    background rgba(0,0,0,.1)

                a
                    display inline-block
                    min-width 1.25em
                    line-height 1.25em
                    text-align center
                    padding .5em
                    border-radius 50%