@import "nib";

@import "requestpage.styl";

.h-sidebar-wrapper
    .h-add-request
        margin 0 0 2em
        text-align center

        .h-add-button
            width 100%

.h-category-wrapper
    .h-category-header
        margin 0
        line-height 1em

    .h-faq-list
        margin 2em 0 0

        .h-faq-wrapper
            margin 4em 0 0

            &:first-child
                margin-top 0

.h-search-page
    .h-search-header
        margin 0
        line-height 1em

    .h-faq-list
        margin 2em 0 0

        .h-faq-wrapper
            margin 4em 0 0

            &:first-child
                margin-top 0

.h-question-page
    .h-question-header
        margin 0
        line-height 1em

    .h-question-content
        margin 2em 0 0

.h-new-request-wrapper
    .h-request-header
        margin 0
        line-height 1em

    .h-request-form
        margin 2em 0 0

.h-requests-table
    margin 2em 0 0
    text-align left

    a
        color inherit

    th
    td
        padding .75em
        border solid #f0f0f0
        border-width 0 0 1px

    th
        border-bottom 2px solid #f0f0f0

    .h-id
    .h-date
    .h-state
        text-align center
        width 15%

    //.h-text