.s-compare-page

    .s-empty-page
        margin 1em 0 0

    .s-compare-header
        margin 0

    .s-compare-filter
        margin 1em 0 0

        .s-button
            &.is-selected
                color #fff
                background #2fa42e

    .s-compare-table
        margin 2em 0 0

        th
        td
            border solid rgba(0,0,0,.05)
            border-width 1px 0
            vertical-align middle

        tr:nth-child(even)
            th
            td
                background rgba(0,0,0,.025)

    .s-buttons-wrapper
        margin 1em 0 0
        text-align center