.dialog-is-show
    position relative
    height: auto
    overflow hidden

    .s-dialog-wrapper
        display block

.s-dialog-wrapper
    display none
    position fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    box-sizing border-box
    z-index 1

    background rgba(0,0,0,0.2)
    overflow auto

    .s-dialog-content
        position relative
        min-width 320px
        width: 50%
        margin: 100px auto
        padding 1em
        background #fff
        border-radius 2px
        overflow hidden
        $shadow()