.s-footer-wrapper

    .s-footer-block
        width $site_width
        margin: auto
        padding 4em 0 2em

        .s-footer-columns
            display table
            width 100%
            table-layout fixed

            .s-column
                display table-cell
                vertical-align top