.s-post-wrapper

    .s-page-header
        margin-top -8px

    .s-text-wrapper
        img
        iframe
            max-width 100%

    .album-wrapper
        margin 1em 0 0
        border 1em solid #f8f8f8
        padding: 1em
        white-space nowrap
        font-size: 0

        .album-desc
        .album-image
            display inline-block
            vertical-align middle
            width: 49.99%
            font-size: 1em

        .album-desc
            white-space: normal;
            word-wrap break-word
            text-align center

            .sub-header
            .album-name
                display inline-block
                vertical-align baseline

            .sub-header
                font: normal 0.8em $header-family
                text-transform uppercase
                color: #777

        .album-image
            $shadow()

            img
                width 100%
                border-radius 2px

    .s-post-credentials
        display table
        width 100%
        table-layout: fixed;

        margin: 1em 0 0
        border-top: 2px solid rgba(0,0,0,.05)
        padding: 1em 0 0


        box-sizing border-box

        .userpic-wrapper
        .comment-link
        .username
        .date
            display table-cell
            vertical-align middle

        .userpic-wrapper
            width: 3em

            .userpic-image
                width: 100%
                border-radius 50%

        .username
            padding-left: 0.5em

        .date-wrapper
            text-align right

        .comment-link
            white-space nowrap
            text-align right