.h-author-page
    .h-inner-breadcrumbs
        margin 0

    .h-author-block
        display table
        width 100%
        table-layout fixed
        margin 16px 0 0

        .h-image-column
        .h-name-column
            display table-cell
            vertical-align middle

        .h-image-column
            width 96px
            padding 0 1em 0 0

            .userpic
                width 100%

    .h-author-header
        margin 16px 0 0
        line-height 1em

        .h-staff
        .h-kudos
            margin-left 0 0 0 4px
            font-size 16px

    .h-author-sorting
        margin 1em 0

        .h-hint
            color inherit
            font-weight bold
            font-size 13px

            &:before
                content "("
                margin 0 0 0 4px

            &:after
                content ")"

.h-authors-page
    .h-authors-header
        margin 0

    .h-authors-wrapper
        .h-authors
            margin 0

            .h-author
                display inline-block
                vertical-align top
                width 49.9%
                padding 0 1.9% 0 0
                margin 2em 0 0
                box-sizing border-box

                .h-author-block
                    display table
                    width 100%
                    table-layout fixed

                    .h-image-wrapper
                    .h-text-wrapper
                        display table-cell
                        vertical-align middle

                    .h-image-wrapper
                        width 50px;
                        padding 0 1em 0 0

                        .userpic
                            width: 100%;

                    .h-text-wrapper
                        padding 0

                        .h-name
                            font-size 18px

                        .h-hint
                            margin 4px 0 0
                            color #aaa
                            font-size 12px;

                        .h-staff
                        .h-kudos
                            margin 0 0 0 4px